In [ ]:
!unzip '/content/images.zip'

In [40]:
import os
import cv2
import pandas as pd
import numpy as np

In [43]:
pasta_imagens = "/content/images/images"
extensao_imagens = ".png"
preto_e_branco = True

targets = []
image_list = []

# Percorra todos os arquivos na pasta
for arquivo in os.listdir(pasta_imagens):
    # Verifique se o arquivo é uma imagem
    if arquivo.endswith(extensao_imagens):
        # Carregue a imagem usando o OpenCV
        caminho_imagem = os.path.join(pasta_imagens, arquivo)
        imagem = cv2.imread(caminho_imagem)
        #caso queira, deixar em preto e branco
        if preto_e_branco == True:
          cinza = cv2.cvtColor(imagem, cv2.COLOR_BGR2GRAY)
        else:
          continue
        imagem_redimensionada = cv2.resize(cinza, (28, 28))
        #print(imagem.shape)
        # Imprima a matriz da imagem
        image_list.append(imagem_redimensionada)
        targets.append(arquivo.split('.')[0])

In [45]:
df = pd.DataFrame(np.concatenate(image_list).reshape(len(image_list), -1))

# Concatene a lista como uma nova coluna no DataFrame existente
df = pd.concat([df, pd.DataFrame({'target': targets})], axis=1)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ariados
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,larvitar
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,magneton
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,conkeldurr
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,alakazam